body{
    width: 100%;
    padding: 0;
    margin: 0%;
    background-color: darkred ;
}
.main{
    width: 100%;
    height: 20%;
}
.main .nav{
    display: flex;
height: 30%;
}
.main .nav img{
    display:flex;
    width: 35%;
    height: max-content;
}
.table{
    display: flex;
    width: 80%;
    height: 1000px;
    background-color: aliceblue;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: 8%;
    margin-left: 10%;
}
.table img{
    display: flex;
    width: 200px;
margin: 20px;    
}
.table img:hover{
    margin-top: 30%;
}